USE [master]
GO
/****** Object:  Database [dbPizza]    Script Date: 03.06.2020 08:29:55 ******/
CREATE DATABASE [dbPizza]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbPizza', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbPizza.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbPizza_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbPizza_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbPizza].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbPizza]
GO
/****** Object:  Table [dbo].[Pizze]    Script Date: 03.06.2020 08:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pizze](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa Pizzy] [nvarchar](50) NULL,
	[Ilosc] [varchar](50) NULL,
	[Cena Jednostkowa] [varchar](50) NULL,
	[Składniki] [nvarchar](50) NULL,
 CONSTRAINT [PK_Pizze] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
